


<% orders.forEach(order=>{ %>
<div class="thanks">
    <h1>Thanks  <%= order.userId.name %> , For Placing Your Order.
    </h1>
    <h3>Below is your order details</h3>
    <h3>("your order will be delivered in 05 working days.")</h3>
    
    <h1>Your Order Total is : $ <%= order.total %>
    </h1>
</div>
    <br>
    <div id="deledit">
    <div class="editdelbtn">
    <a href="/order/<%= order._id %>/edit"><button>Edit Order</button></a>

    <br>


    <form action="/order/<%= order._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete"/>
    </form>
</div>
</div>

    <% order.products.forEach( product => { %>

        <div class="ordercontainer">
            <img src="<%= product.image %>" alt="productimage" >
            <h2>
                Product: <%= product.name %> 
            </h2>
            <h2>
                Fabric: <%= product.fabric %>
            </h2>
            <h2>
                Description: <%= product.description %>
            </h2>
           
            <h2>
                Price: $ <%= product.price %>
            </h2>
            <h2>
                Quantity: Total number of Pcs <%= product.qty %>
            </h2>
            <h2>
                Size: <%= product.size %>
            </h2>
            
            <h3>(# Order confirmed) </h3>
         
        </div>

        <% }) %>

            <% }) %>