<h1>Available Products</h1>
<% products.forEach( product => { %>

<div class="productcontainer">
  <img class="proimg" src="<%= product.image %>" alt="<%= product.name %>" />
  <h1>Category: <%= product.name %></h1>
  <h2>Fabric: <%= product.fabric %></h2>
  <h2>Description: <%= product.description %></h2>
  <h2>Price: $ <%= product.price %></h2>
  <h2>Quantity: pcs <%= product.qty %></h2>
  <h2>Size: <%= product.size %></h2>

  <h2>Ready To Ship: <%= product.isReadyToShip ? "YES" : "COMING SOON" %></h2>

  <div id="addToOrderBtn">
    <button id="<%= product._id %>" class="addToOrderBtn">Add To Order</button>
    
  </div>
</div>
<% }) %>
<div class="submitbtn">
  <button id="submit">Submit Your Order</button>
</div>
